.gallery-header {
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  position: sticky;
  top: -1px;
}

.user-name-wrapper {
  margin-bottom: 1rem;
}

.user-name {
  font-weight: 700;
}

.characters-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .characters-wrapper {
    grid-template-columns: repeat(3, minmax( 200px, 1fr));
  }
}

.character-image {
  max-width: 300px;
  width: 100%;
}

.hidden {
  display: none;
}

.character-button {
  margin-bottom: 2rem;
  background-color: var(--green);
}

.character-meta {
  font-size: 1.2rem;
  margin-bottom: .4rem;
}
