:root {
  --white: #fff;
  --black: #000;
  --dark-gray: #1a1c1f;
  --light-gray: #605a5a;
  --green: #00a420;
  --red: #ff0000;

  --min-viewport-width: 320;
  --max-viewport-width: 1440;
  --min-font-size: 16;
  --max-font-size: 30;
  --set-root-10px: 0.625;

  --fluid-typo: calc(
    calc(var(--min-font-size) * 1px) +
      (var(--max-font-size) - var(--min-font-size)) *
      (
        (100vw - calc(var(--min-viewport-width) * 1px)) /
          (var(--max-viewport-width) - var(--min-viewport-width))
      )
  );
  --root-10px-min: calc(
    var(--set-root-10px) * calc(var(--min-font-size) * 1px)
  );
  --root-10px-max: calc(
    var(--set-root-10px) * calc(var(--max-font-size) * 1px)
  );
  --root-10px-fluid: calc(var(--set-root-10px) * var(--fluid-typo));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--root-10px-min);
}

@media screen and (min-width: 320px) and (max-width: 1440px) {
  html {
    font-size: var(--root-10px-fluid);
  }
}
@media screen and (min-width: 1441px) {
  html {
    font-size: var(--root-10px-max);
  }
}

body {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  padding: 2rem 3rem;
  background-color: var(--dark-gray);
}

header a,
button {
  background-color: var(--black);
}

header a {
  margin-right: 2rem;
}

header button {
  margin-left: 2rem;
}

a,
input[type='submit'],
button {
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  border: 2px solid var(--white);
  cursor: pointer;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: 1px dashed var(--green);
  outline-offset: 0.4rem;
}

article {
  padding: 4rem 3rem;
}

@media screen and (min-width: 1440px) {
  article {
    max-width: 1440px;
    width: 100%;
    align-self: center;
  }
}

h1 {
  margin-bottom: 4vh;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2vh;
  text-transform: uppercase;
}

.hidden {
  display: none;
}
